*.iml
*.bak
*.orig
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
mobile/debug
mobile/release
mobile/google-services.json
wear/debug
wear/release
wear/google-services.json
wearsettings/debug
wearsettings/release
releases
allowed_wearsettings_callers.xml
PackageValidator.kt